@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* 글꼴 */
@font-face {
    font-family: 'Hana-light';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Hana-medium';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Hana-bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.ttf') format("truetype");
    font-display: swap;
}

* {
    font-family: 'Hana-medium';
    text-decoration-line: none;
}


/*reset*/
* {
    padding: 0;
    margin: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2
{
    font-weight: 700;
    font-size: 30px;
}

h3,
h4,
h5,
h6
{
    font-weight: 700;
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

a img {
    border: none;
}

li {
    list-style: none;
}

address,
em,
i {
    font-style: normal;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Hana-bold', serif;
    font-size: 20px;
    color: #333;
}

.wrap {
    width: 100%;
    overflow: hidden;
}

.en {
    font-family: 'Hana-medium', cursive
}

/*header*/
header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #fff;
}

p {
    font-size: 15px;
}


#headerLogo {
    display: flex;
    align-items: center;
    width: 1400px;
    padding: 10px 250px;
    justify-content: space-between;
    font-size: 18px;

}


/* headerlist1  erlist -nav 윗부분 */
.headerlist {
    overflow: hidden;
}

.headerlist .list1 {
    float: left;
}

.headerlist .list1 li {
    float: left;
}

.headerlist .list2 {
    float: right;
}

.headerlist .list2 li {
    float: left;
}

/* 기본 스타일 */
#logo {
    flex: 0 0 200px;
    transition: flex 0.3s;
}

@media (min-width: 768px) {
    #logo {
        flex: 0 0 300px;
    }
}

@media (min-width: 1024px) {
    #logo {
        flex: 0 0 350px;
    }
}


.imgLogo {
    padding-right: 10px;
}

.nameLogo {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
}

.welcomeMessage {
    margin-right: 0px;
}

#loginBtn {
    margin-right: 10px;
}

.loginBtn,
.joinBtn,
.logoutBtn{
    display: inline-block;
    color: black;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    background-color: #ece9e9;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginBtn:hover,
.joinBtn:hover,
.logoutBtn:hover {
    background-color: #00857F;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}






.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    height: 70px;
    padding: 10px 50px;

}

.navbar .drops{
    display: flex;
}
.navbar a {
    font-size: 20px;
    text-align: center;
    padding: 12px 0px;
    text-decoration: none;
    color: rgb(9, 1, 1);
}

.dropdown {
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    color: rgb(16, 15, 15);
    font-size: 22px;
    border: none;
    outline: none;
    padding: 12px 40px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: all 0.3s ease;
}

.dropdown .dropbtn:hover {
    transform: scale(1.2);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 10%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown:hover .dropdown-content {
    display: block;
}


/* 수정 추가*/
section.visual {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.visual .inner {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    padding-top: 120px;
    margin: 20px 0;
}

.contents .visual .title {
    width: 100%;
    height: 80%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'hana-medium' , serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 70px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.Slidesbackground {
    margin: 0;
    padding: 0;
    width: 3000px;
    display: flex;
    position: relative;
    /* 슬라이드 애니메이션을 위한 기준점 */
    transition: transform 1.5s;
    /* 부드러운 슬라이드 효과 */
}

.slideshow-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.mySlides {
    width: 1000px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slideshow-container {

    width: 1000px;
    overflow: hidden;
    position: relative;
    margin-right: 50px;
    border-radius: 5%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.09);
}

@keyframes fade {

    from {opacity: .4}

    to {opacity: 1
    }
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* userinfo-box 스타일 */
.userinfo-box {
    width: 20vw;
}

/* 배너 옆 아이콘영역*/
.noticeicon {
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center

}

.tit {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    justify-content: space-around;
    margin-bottom: 10px;
}

.icons{
    display: flex;
    flex-wrap: wrap;

}
.icon1{
    display: flex;
    border: 1px solid #e2e5eb;
    border-radius: 20px;
    box-shadow: 0 -2px 6px #9b8bab inset;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 10vw;
    height: 14vw;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    background: #cab0e3;
}
.icon1 > img{
    height:150px;
    line-height:150px;
    margin:0 auto;
}
.icon2{
    display: flex;
    border: 1px solid #e2e5eb;
    border-radius: 20px;
    box-shadow: 0 -2px 6px #b4bbb2 inset;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 10vw;
    height: 14vw;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    background: #ddfbe3;
}

.icon2 > img{
    height:150px;
    line-height:150px;
    margin:0 auto;
}
/* 유저영역 - 로그인 전 */
.login-wrap {
    padding: 0px 26px 0 26px;
    text-align: center;
    border: 1px solid #e2e5eb;
    border-radius: 20px;
    box-shadow: 10px 10px 27px rgba(0, 0, 0, 0.06);
    padding-bottom: 20px;
    height: 350px;
}

.login-wrap .login-info p.tit {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.login-wrap .login-info a.btn-login {
    margin: 5px 0 5px;
    display: block;
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background: #00857e;
    border-radius: 8px;
}

.login-info a.btn-login:hover {
    background: #b6b9bb;
}

.login-wrap .join-find-wrap a {
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: #666;
}

.login-wrap .join-find-wrap a:hover {
    text-decoration: underline;
}

.login-wrap .join-find-wrap a:focus {
    border: 1px solid #111;
}

.login-wrap .join-find-wrap span.bar {
    display: inline-block;
    margin: 0 8px;
    width: 1px;
    height: 10px;
    background: #ddd;
}

/* media query 스타일 추가 */
@media screen and (max-width: 1280px) {

    /* 1280px 이하의 화면 크기에 대한 스타일 조정 */
    .userinfo-box {
        width: 100%;
        height: auto;
        margin: 30px 0 0;
    }

    /* 나머지 요소들에 대한 스타일 조정 */
    .memory-box {
        display: none;
    }
}


/*.inner */
.inner {
    width: 1400px;
    margin: 0 auto;
}

/*.text */
.text .title {
    font-family: 'hana-bold', serif;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.text p {
    font-size: 35px;
    line-height: 1.2;
    margin: 40px 0;
}

.text a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #333;
    border-radius: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.2s;
}

.text a:hover,
.text a:focus {
    border: 1px solid transparent;
    border-bottom: 1px solid #333;
    border-radius: 0;
    padding: 5px 18px;
    transition: all 0.2s;
    background: #f2f0eb;
}

/*section.about*/
section.about {
    background: #f2f0eb;
    padding: 100px 0;
}

section.about .inner .tit {
    font-size: 20px;
    width: 1400px;
    display: flex;
}

/*section.approach*/
section.approach {
    padding: 100px 0;
}

section.approach .inner {
    position: relative;
}

section.approach .inner .list {
    width: 48%;
}

section.approach .inner .list li {
    margin-bottom: 30px;

}

section.approach .inner .list li:last-child {
    margin-bottom: 0;
}

section.approach .inner .list li a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

section.approach .inner .list li a img {
    width: 100%;
}

section.approach .inner .list li a span {
    display: none;
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-style: italic;
}


/*section.approach 모션*/

section.approach .inner .fix {
    position: absolute;
    width: 45%;
    height: 100%;
    right: 0;
    top: 0;
}

section.approach .inner .fix .text {
    position: absolute;
    bottom: 10%;
}

section.approach .inner .fix .text.on {
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
}

section.approach .inner .list li a:hover span,
section.approach .inner .list li a.on span {
    display: block;
}

section.approach .inner .list li a:hover span,
section.approach .inner .list li a.on span {
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
}

/*section.sectors*/
section.sectors {
    background: #ffffff;
    padding: 10px 0 50px;
    position: relative;
    margin-bottom: 250px;

}



section.sectors .list {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -160px;
}

section.sectors .list li {
    width: 23vw;
    height: 12vw;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f3f3;
}

section.sectors .list li a {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

section.sectors .list li a img {
    max-width: 30%;
    height: auto;
    /*img-align: right;*/
    transition: all 0.4s;
    /*display: block;*/
    margin-left: 20px;
}

section.sectors .list li a.add{
    display: flex;
    flex-direction: column;

}

section.sectors .list li a h3 {
    color: black;
    font-size: 25px;
    font-family: 'hana-bold', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s;
}

/* section.setors  모션 */
section.sectors .list li a:hover img,
section.sectors .list li a:focus img {
    transform: scale(1.2);
    transition: all 1s;
}

section.sectors .list li a:hover h3,
section.sectors .list li a:focus h3 {
    letter-spacing: 4px;
    transition: all 0.5s;
}

section.sectors .list.motion li {
    animation-name: sectors;
    animation-duration: 1s;
}

section.sectors .list.motion li:nth-child(2) {
    animation-name: sectors;
    animation-duration: 1.15s;
}

section.sectors .list.motion li:nth-child(3) {
    animation-name: sectors;
    animation-duration: 1.3s;
}

@keyframes sectors {
    0% {
        opacity: 0;
        transform: translateX(1000px);
    }

    30% {
        opacity: 0;
        transform: translateX(1000px);
    }
}


/*section.service*/
section.service {
    padding: 100px 0;
}

section.service .inner {
    overflow: hidden;
}

section.service .img {
    width: 48%;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}

section.service .img img {
    width: 100%;
}

section.service .text {
    width: 45%;
    float: right;
}

/* section.servcie  모션 */
section.service .img.motion {
    animation-name: service;
    animation-duration: 1s;
}

@keyframes service {
    0% {
        opacity: 0;
        transform: translateX(-1000px);
    }

    30% {
        opacity: 0;
        transform: translateX(-1000px);
    }
}


/*section.journal*/
section.journal {
    background: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}

section.journal h2 {
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
}

section.journal .inner {
    padding-bottom: 100px;
}

section.journal .list {
    display: flex;
    justify-content: space-between;
    width: 1080px;
}

section.journal .list li {
    width: 330px;
}

section.journal .list li a {
    display: block;
}

section.journal .list li a .img {
    border-radius: 10px;
    overflow: hidden;
    height: 330px;
    position: relative;
}

section.journal .list li a .img img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.journal .list li a h3 {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 30px 0;
}

section.journal .list li a p {
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
}

/* section.journal 모션 */
section.journal .list.motion li {
    animation-name: jornal;
    animation-duration: 0.5s;
}

section.journal .list.motion li:nth-child(2) {
    animation-name: jornal;
    animation-duration: 0.6s;
}

section.journal .list.motion li:nth-child(3) {
    animation-name: jornal;
    animation-duration: 0.7s;
}

section.journal .list.motion li:nth-child(4) {
    animation-name: jornal;
    animation-duration: 0.8s;
}

@keyframes journal {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    30% {
        opacity: 0;
        transform: translateY(200px);
    }
}


/*footer*/
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: #e7e4e4;
    color: black;
    padding: 75px 0;
    box-sizing: border-box;
    z-index: -1;
}

footer .inner {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

footer .inner .footerLogo {
    font-size: 30px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

footer .inner .contact {
    width: 30%;
    line-height: 1.4;
    margin-top: 10px;
}

footer .inner .footerlist {
    display: flex;
    margin-top: 20px;
}

footer .inner .footerlist li {
    margin: 0 40px;
    font-size: 12px;
}

footer .inner .sns {
    display: flex;
    margin-top: 20px;
}

footer .inner .sns li {
    margin: 0 40px;
    font-weight: bold;
    font-size: 17px;
}


.textalign-right1{
    text-align: right;
    font-weight: bold;

}

.textalign-right2{
    text-align: right;
    font-weight: bold;
    color: #106e69;
}