@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); /* Google Font 불러오기 */

/* 글꼴 */
@font-face {
    font-family: 'Hana-light';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Hana-medium';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Hana-bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.ttf') format("truetype");
    font-display: swap;
}


 .side-nav{
     font-family: 'Noto Sans KR', sans-serif !important;
 }



/*reset*/
* {
    padding: 0;
    margin: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2
{
    font-weight: 700;
    font-size: 30px;
}

h3,
h4,
h5,
h6
{
    font-weight: 700;
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

a img {
    border: none;
}

li {
    list-style: none;
}

address,
em,
i {
    font-style: normal;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Hana-bold', serif;
    font-size: 20px;
    color: #333;
}

.wrap {
    width: 100%;
    overflow: hidden;
}

.en {
    font-family: 'Hana-medium', cursive
}


/*section.service*/
section.service {
    padding: 100px 0;
}

section.service .inner {
    overflow: hidden;
}

section.service .img {
    width: 48%;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}

section.service .img img {
    width: 100%;
}

section.service .text {
    width: 45%;
    float: right;
}

/* section.servcie  모션 */
section.service .img.motion {
    animation-name: service;
    animation-duration: 1s;
}

@keyframes service {
    0% {
        opacity: 0;
        transform: translateX(-1000px);
    }

    30% {
        opacity: 0;
        transform: translateX(-1000px);
    }
}

/* section MainContent*/

/* 수정 추가*/
.main {
    display: flex;
    justify-content: flex-start;
    /* align-items: center;

    width: 100%; */
    padding: 200px 200px 50px 200px;
}

.main .inner {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    padding-top: 120px;
    margin: 20px 0;
}

.contents .main .title {
    width: 100%;
    height: 80%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'hana-medium' , serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 70px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* 사이드 메뉴 */
.aside {
    padding-right: 30px;
}

/* 사이드 옆 컨텐츠 */
.section {
    width: 1200px;
}

.container-title{
    text-align: center;
}
.container2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

/*    추가*/
    flex-direction: column;
}
/* column화를 위한 div*/
.big-chart-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-box {
    display: flex;
    /*flex-direction: column;*/
    width: 1100px;
    margin: 10px 20px;
    align-items: center;
    /*height: 400px;*/
    justify-content: space-between;
}

.chart-box .chart1 {
    width: 400px;
    /*height: 200px;*/
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.chart-box .chart2 {
    /*width: 250px;*/
    /*height: 400px;*/
    width: 250px;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.chart-box-inner {
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 430px;
    align-items: center;
    background: #f3f3f3;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-box-inner h3 {
        /*color: #fafafa;*/
        font-size: 25px;
        font-weight: 600;
        /*text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);*/
        text-transform:uppercase;
}
/* 그래프 아래 info 항목*/
.info-box {
    /*background-color: #f5f5f5;  !* 옅은 회색 배경색 *!*/
    border-radius: 10px;       /* 모서리 둥글게 처리 */
    padding: 10px;             /* 내부 여백 */
    width: 350px;              /* 너비 설정 (원하시는 너비로 조절 가능) */
}
.info-item1 {
    border: 1px solid #f6f3f3;    /* 테두리 색상 */
    background-color: #f5f5f5;
    border-radius: 10px;       /* 모서리 둥글게 처리 */
    margin-bottom: 10px;       /* 각 항목 사이의 여백 */
    padding: 5px 10px;         /* 내부 여백 */
    font-size: 20px;           /* 글자 크기 */
    text-align: center;
}

.info-item2 {
    border: 1px solid #f6f3f3;
    /*background-color: #f5f5f5;*/
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 23px;
    text-align: center;
    background: #fdd0e4;
}

.info-item3 {
    border: 1px solid #f6f3f3;
    /*background-color: #f5f5f5;*/
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 23px;
    text-align: center;
    background: #fdd0e4;
    line-height: 1.7;
}

.info-item4 {
    border: 1px solid #f6f3f3;
    /*background-color: #f5f5f5;*/
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 23px;
    text-align: center;
    background: #d9e3e3;
    line-height: 1.7;
}

.info-item5 {
    border: 1px solid #f6f3f3;
    /*background-color: #f5f5f5;*/
    border-radius: 10px;
    margin-bottom: 10px;
    width: 700px;
    padding: 25px;
    font-size: 26px;
    text-align: center;
    background: #00857e;
    line-height: 1.7;
    color: #FFFFFF;
}

/* comment 부분 */
.comment-box {
    /*margin-top: 10px;*/
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 0 20px;
    margin: 0 40px 0 40px;
    width: 1100px;
    display: flex;
    /*flex-direction: column;*/
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.comment-info {
    margin: 20px 10px 0 10px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.7;
}
.comment-text1 {
    /*margin-left: 5px;*/
    /*font-size: 20px;*/
    font-weight: bold;
    width: 400px;
    background: white;
    border-radius: 15px;
    padding: 10px 20px 10px 30px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 5px 2px 11px rgba(0, 0, 0, 0.1);
}

.comment-text1-large {
    /*margin-left: 5px;*/
    /*font-size: 20px;*/
    font-weight: bold;
    width: 500px;
    background: white;
    border-radius: 15px;
    padding: 10px 20px 10px 30px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 5px 2px 11px rgba(0, 0, 0, 0.1);
}


.comment-text2 {
    /*margin-top: 30px;*/
    /*margin-left: 10px;*/
    margin: 30px 0 30px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #615e5e;
}

.comment-text-center {
    margin: 30px 0 30px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #615e5e;
    text-align: center;
}

.comment-box-inner{
    /*width: 520px;*/
    height: 340px;
    /*background: #f3f3f3;*/
    border-radius: 15px;
    padding: 10px 0 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputImg{
    display: flex;
    justify-content: center;
    background: #e6e9e9;
    border-radius: 50%;
}

.inputImg2{
    display: flex;
    justify-content: center;
    background: #e6e9e9;
    border-radius: 50%;
    overflow: hidden;
    width: 130px;
    height: 130px;
}

.inputImg3{
    display: flex;
    justify-content: center;
    background: #e6e9e9;
    overflow: hidden;
    width: 600px;
    height: 300px;
    border-radius: 15px;
}

.result-tax {
    background-color: #106e69;
    display: flex;
    width: 350px;
    height: 130px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px 10px 20px 50px;
    font-size: 20px;
    text-align: left;
    color: #f9f9f9;
    font-family: 'Hana-light', serif !important;
    flex-direction: column;
    justify-content: center;
}

.character-box {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}

.character-box-large {
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-between;
}

/* 버튼 */
.btn-container{
    /*margin-top: 20px;*/
}

.modalBtn {
    display: inline-block;
    color: #05413d;
    /* 글자색 변경 */
    padding: 15px 20px;
    /* 패딩 */
    width: 350px;
    border: none;
    /* 테두리 없음 */
    border-radius: 5px;
    /* 둥근 모서리 */
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    /* 폰트 크기 변경 */
    cursor: pointer;
    background-color: #c8dfde;
    /* 배경색 추가 */
    transition: background-color 0.3s, transform 0.3s;
    /* 부드러운 전환 효과 추가 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
}

.modalBtn:hover {
    background-color: #2ca19b;
    /* hover 시 배경색 변경 */
    transform: scale(1.05);
    /* hover 시 약간 확대되는 효과 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    /* hover 시 그림자 약간 강화 */
}

.pointBtn {
    display: inline-block;
    color: #05413d;
    /* 글자색 변경 */
    padding: 15px 20px;
    /* 패딩 */
    width: 350px;
    border: none;
    /* 테두리 없음 */
    border-radius: 5px;
    /* 둥근 모서리 */
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    /* 폰트 크기 변경 */
    cursor: pointer;
    background-color: #fdd0e4;
    /* 배경색 추가 */
    transition: background-color 0.3s, transform 0.3s;
    /* 부드러운 전환 효과 추가 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
}

.pointBtn:hover {
    background-color: #fa63a5;
    /* hover 시 배경색 변경 */
    transform: scale(1.05);
    /* hover 시 약간 확대되는 효과 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    /* hover 시 그림자 약간 강화 */
}
.pointBtn2 {
    display: inline-block;
    color: #05413d;
    /* 글자색 변경 */
    padding: 10px 10px;
    /* 패딩 */
    width: 200px;
    border: none;
    /* 테두리 없음 */
    border-radius: 5px;
    /* 둥근 모서리 */
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    /* 폰트 크기 변경 */
    cursor: pointer;
    background-color: #fdd0e4;
    /* 배경색 추가 */
    transition: background-color 0.3s, transform 0.3s;
    /* 부드러운 전환 효과 추가 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
}

.pointBtn2:hover {
    background-color: #fa63a5;
    /* hover 시 배경색 변경 */
    transform: scale(1.05);
    /* hover 시 약간 확대되는 효과 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    /* hover 시 그림자 약간 강화 */
}
/* 기타 입력창 */
#totalIncome {
    width: 200px;  /* 넓이 설정 */
    height: 30px;  /* 높이 설정 */
    padding: 10px;  /* 내부 패딩 설정 */
    font-size: 20px;  /* 폰트 사이즈 설정 */
    border: 1px solid #ccc;  /* 테두리 설정 */
    border-radius: 5px;  /* 테두리 둥글게 만들기 */
}


/* 테이블 css */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
    /*background-color: #3e94ec;*/
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
}

.table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
}


/*** Table Styles **/


/* 기존 테이블 css*/
.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 200px;
    margin: auto;
    margin-top:5px;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
/* 세금쪽 테이블 css */
.table-tax {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 450px;
    width: 400px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    /*width: 100%;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

/*.table-tax th {*/
/*    color:#454b4b;*/
/*    background: #e7e2e2;*/
/*    height: 5px;*/
/*    !*border-bottom:4px solid #cacfcf;*!*/
/*    !*border-right: 1px solid #efeff1;*!*/

/*    font-size:20px;*/
/*    font-weight: 100;*/
/*    padding:24px;*/
/*    text-align:center;*/
/*    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
/*    vertical-align:middle;*/
/*}*/

.table-tax tr:nth-child(odd) td {
    background: #e2e7e7;
    color: #454b4b;
}


th {
    color:#454b4b;
    background:#8ab5b3;
    /*background: #c3dcd7;*/
    /*background: #9ae7d7;*/
    height: 40px;
    border-bottom:4px solid #cacfcf;
    border-right: 1px solid #afebde;

    font-size:20px;
    font-weight: 100;
    padding:24px;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #eae9e9;
    border-bottom-: 1px solid #eae9e9;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background: #106e69;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:nth-child(odd) td {
    background:#f5f5f5;
}

tr:nth-child(odd):hover td {
    background: #106e69;
    color: #FFFFFF;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#FFFFFF;
    padding:20px;
    text-align:center;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #eae9e9;
}

td:last-child {
    border-right: 0px;
}

/*th.text-left {*/
/*    text-align: left;*/
/*}*/

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
    /*width: 150px;*/
    padding-right: 40px;
}

/*td.text-left {*/
/*    text-align: left;*/
/*}*/

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
    /*width: 150px;*/
    padding-right: 40px;
}

/* 모달 css */


/*    modal 내용 추가*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 350px; /* Location of the box */
    padding-left: 160px ;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #d2d0d0;
    width: 30%;
    padding: 50px 100px 400px 100px;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.modal_simulation{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    padding-left: 160px ;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 50px 100px 50px 100px;
    border: 1px solid #d2d0d0;
    width: 30%;
    line-height: 2.5rem;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* mmodal 내용 */
.modal-amount-box {
    display: flex;
    justify-content: space-between;

}

.modal-amount-text {

}

.modal-amount-money {

}

input[type="text"] {
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}


.modal-amount-money-variable input[type="text"] {
    width: 130px;
    height: 20px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}


.modal-amount-explanation {
    background: #f5f5f5;
    border-radius: 5px;
    margin: 20px 5px;
    padding: 10px;
    line-height: 1.8rem;
}

/* 텍스트 영역 */
.text-box{
    background: #eaf3f3;
    padding: 6px 5px 8px 5px;
    border-radius: 10px;
    text-align: center;
}

.text-box2{
    background: #eaf3f3;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px 0 5px 200px;
    text-align: left;
    width: 900px;
}

.text-box3{
    background: #eaf3f3;
    padding: 15px 5px 10px 5px;
    border-radius: 10px;
    text-align: center;
    width: 700px;
    height: 90px;
    margin: 10px;
}

.flex-box{
    display: flex;
    align-items: center;
}

.list-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}