* {
    margin: 0;
    padding: 0;
}
#progress-bar-container li .step-inner {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 20px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
    color: #444;
}

#progress-bar-container li::after {
    /*content: " ";*/
    display: block;
    width: 6px;
    height: 6px;
    background-color: #777;
    margin: auto;
    border: 7px solid #fff;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.2);
    transition: all ease 0.25s;
}
#progress-bar-container li:hover::after {
    background: #555;
}

#progress-bar-container li.active::after {
    background: #207893;
}

#progress-bar-container #line {
    width: 80%;
    margin: auto;
    background-color: #eee;
    height: 6px;
    position: absolute;
    left: 10%;
    top: 57px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.75s;
}

#progress-bar-container #line-progress {
    content: " ";
    width: 8%;
    height: 100%;
    background-color: #9ae7d7;
    /*background: linear-gradient(to right #207893 0%, #2ea3b7 100%);*/
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.25);
}
#progress-content-section {
    position: relative;
    top: 100px;
    width: 80%;
    margin: auto;
    background: #f5f5f5;
    border-radius: 4px;
    display: flex;
    height: 1500px;
    margin-bottom: 100px;
    justify-content: center;
}
#progress-content-section .section-content {
    padding: 20px 40px;
    text-align: left;
    /*width: 50%;*/
    /*height: 800px;*/
    margin-bottom: 100px;
    border-radius: 10px;
}

.section-content h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    margin: 10px 0;
}



.section-content h3 {
    color: #555;
    text-transform: uppercase;
    margin: 15px 0;
}
/* p태그 글자 크기 */
.section-content p {
    font-size: 20px;
    line-height: 1.8rem;
    color: #777;
}

.section-content p2 {
    font-size: 17px;
    line-height: 1.8rem;
    color: #777;
}

.section-content p3 {
    font-size: 15px;
    line-height: 1.8rem;
    color: #777;
}

.section-content {
    display: none;
    animation: FadeinUp 0.7s ease 1 forwards;
    transform: translateY(15px);
    opacity: 0;
}

.section-content.active {
    display: block;
    opacity: 1;
}
.progress-wrapper {
    margin: auto;
    max-width: 1080px;
}
#progress-bar-container {
    position: relative;
    width: 1200px;
    margin: auto;
    height: 100%;
    margin-top: 65px;
}
#progress-bar-container ul {
    padding-top: 15px;
    z-index: 999;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}
#progress-bar-container li::before {
    /*content: " ";*/
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #aaa;
    transition: all ease 0.3s;
}

#progress-bar-container li.active::before,
#progress-bar-container li:hover::before {
    border: 2px solid #fff;
    background-color: #fdbebe;
}
#progress-bar-container li {
    list-style: none;
    float: left;
    width: 33%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 60px;
    position: relative;
}
@keyframes FadeInUp {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* 폼 양식 부분*/

/*.section-content {*/
/*    font-family: 'Arial', sans-serif;*/
/*    margin: 20px;*/
/*    padding: 20px;*/
/*    border: 1px solid #ad1818;*/
/*    border-radius: 10px;*/
/*}*/

/*h2 {*/
/*    color: #333;*/
/*    !*font-size: 40px;*!*/
/*    margin-bottom: 20px;*/
/*}*/



p {
    color: #777;
    font-size: 16px;
    margin: 10px 0;
}

.content-dropdown{
    width: 400px;
    height: 50px;
    padding: 8px 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.submit-button {
    display: inline-block;
    color: #FFFFFF;
    padding: 10px 10px;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    background-color: #e4003f;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
    background-color: #af0332;
}

/*.choice-button {*/
/*    padding: 10px 20px;*/
/*    margin-right: 10px;*/
/*    border: none;*/
/*    background-color: #e9e9e9;*/
/*    cursor: pointer;*/
/*}*/

/*.choice-button.active {*/
/*    background-color: #007BFF;*/
/*    color: #fff;*/
/*}*/

.choice-button {
    padding: 15px 0;
}


.choice-button input[type=radio]{
    display: none;
}
.choice-button input[type=radio]+label{

    display: inline-block;
    color: #05413d;
    /* 글자색 변경 */
    padding: 10px 15px;
    /* 패딩 */
    width: 180px;
    border: none;
    /* 테두리 없음 */
    border-radius: 5px;
    /* 둥근 모서리 */
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    /* 폰트 크기 변경 */
    cursor: pointer;
    background-color: #e9eeed;
    /* 배경색 추가 */
    transition: background-color 0.3s, transform 0.3s;
    /* 부드러운 전환 효과 추가 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
    margin-right: 10px;
}

.choice-button input[type=radio]+label:hover {
    background: #05413d;
    color: #FFFFFF;
}

.choice-button input[type=radio]:checked+label{
    background-color: #106e69;
    color: #ffffff;
}


/* 추가 */
.section-content {
    display: none;
}

.section-content.active {
    display: block;
}



/* 다음/이전 버튼 */
.prev-button,
.next-button {
    display: inline-block;
    color: #FFFFFF;
    /* 글자색 변경 */
    padding: 10px 10px;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    border: none;
    /* 테두리 없음 */
    border-radius: 5px;
    /* 둥근 모서리 */
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    /* 폰트 크기 변경 */
    cursor: pointer;
    background-color: #00857e;
    /* 배경색 추가 */
    transition: background-color 0.3s, transform 0.3s;
    /* 부드러운 전환 효과 추가 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
}

.next-button:hover {
    background-color: #106e69;
    /* hover 시 배경색 변경 */
    transform: scale(1.05);
    /* hover 시 약간 확대되는 효과 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    /* hover 시 그림자 약간 강화 */
}

/* 모달 관련 */
.total-amount-box {
    padding: 10px 25px;
    border: 1px solid #ccc;
    /*display: flex;*/
    /*justify-content: space-between;*/
    font-size: 18px;
    border-radius: 15px;
    width: 400px;

}

.total-text-box {
    padding-top: 5px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.total-text-box.p {
    font-size: 15px;
}

.more {
    cursor: pointer;
}
.modal {
    /*display: none;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(0, 0, 0, 0.7);*/
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 400px; /* Location of the box */
    padding-left: 170px;
    /*left: 0;*/
    /*top: 0;*/
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-content {
    /*background-color: #fefefe;*/
    /*margin: 15% auto;*/
    /*padding: 20px;*/
    /*border: 1px solid #888;*/
    /*width: 80%;*/
    background-color: #fefefe;
    margin: auto;
    padding: 50px;
    border: 1px solid #d2d0d0;
    width: 50%;
    line-height: 2.0rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* mmodal 내용 */
.modal-amount-box {
    display: flex;
    justify-content: space-between;

}

.modal-amount-text {

}

.modal-amount-money {

}

.modal-amount-explanation {
    background: #f5f5f5;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

/*fieldset*/

fieldset {
    margin-top: 20px;
    border-color: rgba(192, 192, 192, 0);
}


/* 연말정산 계산 부분 모달 */

