<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.oneqtax.tax.repository.TaxMapper">

<!--    parameterType="com.spring.oneqtax.tax.domain.TaxInfoVO"-->

        <select id="getAllTaxInfo" resultType="com.spring.oneqtax.tax.domain.TaxInfoVO">
            SELECT *
            FROM deduction_calc
        </select>

        <select id="getTaxInfoByMemberId" resultType="com.spring.oneqtax.tax.domain.TaxInfoVO">
            SELECT *
            FROM deduction_calc
            WHERE member_id = #{member_id}
        </select>

        <select id="getTransactionByMemberId" resultType="com.spring.oneqtax.tax.domain.TransactionVO">
            SELECT *
            FROM total_amount
            WHERE member_id = #{member_id}
            FETCH FIRST 1 ROWS ONLY
        </select>

    <!-- 공제계산결과 삽입하기 deduction_id 자동생성 -->
        <insert id="insertDeductionResult" parameterType="com.spring.oneqtax.tax.domain.TaxResultVO" >
            INSERT INTO DEDUCTION_RESULT (calculation_id, total_id, credit_deductible, credit_deduction, debit_deductible,
                                          debit_deduction, cash_deductible, cash_deduction, basic_deduction, additional_deduction, total_deduction, reducing_tax)
            VALUES (#{calculation_id}, #{total_id}, #{credit_deductible}, #{credit_deduction}, #{debit_deductible},
                    #{debit_deduction}, #{cash_deductible}, #{cash_deduction}, #{basic_deduction},  #{additional_deduction}, #{total_deduction},  #{reducing_tax})
        </insert>

        <select id="getDeductionResult" resultType="com.spring.oneqtax.tax.domain.TaxResultVO">
            SELECT *
            FROM DEDUCTION_RESULT
            WHERE total_id IN (SELECT total_id FROM TOTAL_AMOUNT WHERE member_id = #{member_id})
            ORDER BY deduction_id DESC
                FETCH FIRST 1 ROWS ONLY
        </select>


    <!--  연금공제부분 수정할 값 추가-->
<!--    <insert id="insertInsuranceData" parameterType="com.spring.oneqtax.tax.domain.TotalInfoVO">-->
<!--        INSERT INTO pension_insurance (health_insurance, employment_insurance, national_pension, private_pension, other_pension)-->
<!--        VALUES (#{healthInsurance}, #{employmentInsurance}, #{national_pension}, #{private_pension}, #{other_pension})-->
<!--    </insert>-->
    <select id="selectTotalInfoById" resultType="com.spring.oneqtax.tax.domain.TotalInfoVO">
        SELECT *
        FROM totaltax_calc
        WHERE calculation_id IN (SELECT calculation_id FROM DEDUCTION_CALC WHERE member_id = #{member_id})
    </select>

    <update id="updateTotalInfo" parameterType="com.spring.oneqtax.tax.domain.TotalInfoVO" >
        UPDATE totaltax_calc
        SET health_insurance = #{health_insurance},
            employment_insurance = #{employment_insurance},
            national_pension = #{national_pension},
            private_pension = #{private_pension},
            other_pension = #{other_pension},
            total_pension = #{total_pension}
        WHERE calculation_id = #{calculation_id}
    </update>
</mapper>